/* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL */
/* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL *//* GENERAL */

* {
	text-decoration : none;
	margin : 0;
	padding: 0;
}

.clear { 
	clear : both;
}

body {
	  background: repeat top url("image/marron.jpg");  	
}

.marronClair { color : #934032;}
.marronFonce {color :#662D23;}
.centre {text-align:center;}
.silver{color:silver;text-decoration:underline}
.roseFonce{color:#FEB7AB;}
.white:hover{color:white;}
.tailleMin{min-width : 150px;}

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */

.conteneur{		
	margin : 0 auto;  
	padding-top : 10px; 
	float :left;  
}

@media screen and (min-width:580px){.conteneur {width : 60%;}}

@media screen and (max-width:580px){.conteneur {width : 100%;}}

.haut{float:left;}

@media screen and (min-width:1200px){.haut {width : 90%;}}

@media screen and (max-width:1200px){.haut {width : 100%;}}	

.haut img {
	width : 100%;
	border :1px solid #FEDBD5;
	border-radius : 2px;
	height :21.6vw;
}

@media screen and (max-width:580px){.haut img {height :35vw;}
}	

@media screen and (min-width:1200px) and (max-width:1550px){.haut img {height :21.75vw;}
}	

.navBas {
	width : 100%;
	padding-top:14px;	  
}

@media screen and (min-width:1200px){.navBas { margin-top:20px;margin-bottom:15px;}}	

@media screen and (min-width:580px) and (max-width:1200px){
	.navBas { margin-top:10px;margin-bottom:30px;}
}	
	
@media screen and (max-width:580px){.navBas {margin-bottom:30px;}}

.reservation {
    float : left;    
	width : 33%;
	height : 100%;
	text-align :center;
}

@media screen and (max-width:580px){.reservation a{font-size :3vw;}}

.reservation a{
	color:#662D23;
	padding : 3.3% 6.6% 3.3% 6.6% ; 
	background: no-repeat url("image/rose2.jpg");
	border-radius : 3px; 
	border : 2px solid #FEB7AB;
}
	
.reservation a:hover{background: white;}

.navBasGauche {
	width : 33%;
	height : 100%;
	float: left;	
}

.navBasGauche a {
	color: #FEDBD5;
	float:left;
	width : 5%;
	}	

.navBasGauche p{
	color: #FEDBD5;
	padding-left : 3%;
	padding-right : 3%;
	float:left;
	width :1%;
}

@media screen and (max-width:580px){#langue {font-size : 3vw;}}
	
.navBasGauche form{
	float: left;
	padding-left :20%;
}
	
@media screen and (max-width:580px){
	.navBasGauche input{
	width : 50px;
	}	
}

@media screen and (max-width:1200px){
	.navBasGauche input{
	width : 10vw;
	}	
}

.navBasDroite {
	float: left; 
	width : 33%;
	text-align: right;
}

.navBasDroite a{
	padding : 0 5% 0 8%;
}

@media screen and (max-width:580px){
	.navBasDroite img{
	width : 2vh;
	height : 2vh;
	}
}
	
.navBasDroite img{
	width : 10%;
}

@media screen and (max-width:580px){#langue p {padding : 0% 5% 0 10%;}}	

@media screen and (max-width:1200px){#langue p {margin : 0% 5% 0 5%;}}

.logo1 {
	margin-top :30%;
	margin-left : 30%;
	width : 45%;
}

.logo2 {
	margin-top :30%;
	margin-left : 30%;
	width : 45%;
}

@media screen and (max-width:580px){
	.conteneur0 {
		width : 20%;
		float :left;
		display : none;		
	}
}

@media screen and (min-width:580px){
	.conteneur0 {
		width : 20%;
		float :left;  	
	}
}

header input {
padding : 3%;
width : 100%;

}

header label{
	width : 100%;
}

/* NAV MENU *//* NAV MENU *//* NAV MENU *//* NAV MENU *//* NAV MENU *//* NAV MENU */
#menu {
        width: 10%;
		float : left;
		text-align : center;
        }

@media screen and (max-width:580px){		
	#menu {
			width: 100%;
			 font-size : 3vw;  
			}		 
}

@media screen and (min-width:580px) and (max-width:1200px){#menu {width: 100%;}
}

@media screen and (min-width:750px) and (max-width:1200px){#menu {font-size : 1em;}
}

@media screen and (min-width:580px) and (max-width:750px){#menu {font-size : 0.8em;}
}
			
#menu ul {	
	 padding: 0;
	 width: 100%;
	 margin:0px;
}
			
#menu ul li {
	position : relative;
	list-style: none; 
	height : 3.5vw;  
	width :7vw;	
 }

@media screen and (max-width:580px){	 
	#menu ul li { 
		float :left; 
		width :15.9%;
		height : 100%; 
	 } 
}

@media screen and (min-width:580px) and (max-width:1200px){	 
	#menu ul li {
		height : 17%;  
		float :left; 
	 } 
}

@media screen and (min-width:902px) and (max-width:1200px){#menu ul li {width :16.25%;} 
}

@media screen and (min-width:580px) and (max-width:902px){#menu ul li {width :16%;} 
}

#menu ul ul {
	position : absolute;
	top: -2.3%;
	left: 100%; 
	display:none;
   }  

@media screen and (max-width:1200px){#menu ul ul {top: 100%;}}

@media screen and (max-width:1200px){	   
   #menu ul ul li{
	width : 100%;
	right : 100%;
   }  
}

#menu ul.niveau1 li.sousmenu:hover ul.niveau2{
display:block;
}

	
#menu li a {
	text-decoration: none;
	color: #FEDBD5;
	display:block;
}

@media screen and (min-width:1200px){#menu li a {padding: 20% 10% 20% 10%;}
}

@media screen and (max-width:1200px){#menu li a {padding: 10% 10% 10% 10%;}
}

#hotel {
	text-decoration: none;
	color: #FEDBD5;		
}

@media screen and (min-width:1200px){#hotel {padding: 20% 10% 20% 10%;}
}

@media screen and (max-width:580px){#hotel {padding: 20% 10% 20% 10%;}
}

@media screen and (max-width:1200px){#hotel {padding: 10% 10% 10% 10%;}
}
	
header li:hover{
	background:  #662D23;
}
	
header li {
	background: no-repeat url("image/saumon.jpg");
	border : 1px solid  #FEDBD5; 
	border-radius : 2px;
}												 
/* NAV MENU *//* NAV MENU *//* NAV MENU *//* NAV MENU *//* NAV MENU */

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */


/* SECTION *//* SECTION *//* SECTION *//* SECTION *//* SECTION */
/* SECTION *//* SECTION *//* SECTION *//* SECTION *//* SECTION */

.conteneur2 {
	margin : 0 auto; 
	background: repeat top url("image/rose2.jpg");
	padding-top :2%;
	padding-bottom :2%;
	border-radius : 5px;
	border : 2px solid #FEB7AB;	
}

@media screen and (max-width:1200px){.conteneur2 {width : 90%;}
}	

@media screen and (min-width:1200px){.conteneur2 {width : 95%;}
}	

@media screen and (max-width:580px){
	.conteneur2 {
		width : 100%;
		border-radius :0px;
		border : none;	
	}
}	

.conteneur3 {
	border-radius : 10px;
	text-align:center;	 
}
			
@media screen and (max-width:580px){	
	.conteneur3 {
		width : 100%;
		height:30.66%;		 
	}	
}	
	
@media screen and (min-width:580px){
	.conteneur3 {
		 width : 50%; 
		float : left;
		 height:43.33%; 	 
	}	
}		
	
@media screen and (max-width:1050px){.conteneur3 h2{font-size : 1.5vw;}
}	

@media screen and (max-width:780px){.conteneur3 h2{font-size : 2vw;}
}

@media screen and (max-width:580px){.conteneur3 h2{font-size : 3vw;}	
}	

@media screen and (min-width:580px)	{section {padding :0.5%;}
}

@media screen and (max-width:580px)	{section {padding :0;}
}

.conteneur3 img{
	width : 80%;
	border-radius : 10px;
	border : 2px solid #FEB7AB;	
}

.conteneur3 img:hover{
	transition: all 300ms ease-in;
	transform: scale(1.12);	 
}
	
section h1{
	text-align :center;
	color : #662D23;
}
	
/* SECTION *//* SECTION *//* SECTION *//* SECTION *//* SECTION */
/* SECTION *//* SECTION *//* SECTION *//* SECTION *//* SECTION */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

.conteneur5 {
	width : 20%;
	height: 19.73%;
	float:left;
}

@media screen and (max-width:580px){.conteneur5 {display : none;}
}

.conteneur6 { 
	height : 19.73%;
	width:60%; 
	float:left;
	text-align : center;
}

@media screen and (max-width:580px){.conteneur6 {width: 100%;}
}

.logo3{
	margin-top :10%;
	margin-left : 35%;
	width : 36%;
}

.divers {color:black;}
.divers:hover {color:white;}

.divers2 {
	color: #FEDBD5;
	text-decoration : underline;
}	

 header h1 {
	position : absolute;
	color: #934032;	
	padding : 5% 0px 0px 5%;
}

footer input{
	width : 250px;
	padding : 1%;
}

footer label {color: white;	
}

#hautDePage2 {
	text-decoration : none;
	color: silver;
	text-decoration:underline;
	font-size : 1.2em;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

/* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS */
/* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS */

.mentions {
	margin-left : 10%;
	margin-top : 2%;
}

#mention2 {
	padding-left : 2%;
	padding-right : 2%;
	font-size : 1em;
}

@media screen and (max-width:580px){
		#mention2 {font-size : 0.8em;}
	}			
/* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS */
/* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS *//* MENTIONS */

/* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES */
/* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES */

#introChambres {
	padding-left:10%;
	padding-right:10%;
	color :#934032;
	text-align :center;
}

@media screen and (max-width:1200px){#conteneur2Chambres{font-size :1.5vw;}
}

@media screen and (max-width:580px){#conteneur2Chambres{font-size :2vw;}
}

.conteneurChambre {
	width :50%;
	 border : 3px solid #FEB7AB; 
	border-radius : 10px;	 
	margin : 0 auto;
	padding :1.5%;

}

.conteneurChambre p{
	font-size : 1.8vh;	
}

@media screen and (max-width:580px){.conteneurChambre p{font-size : 2.5vw;}
}

@media screen and (max-width:580px){.conteneurChambre {width :100%;}
}

@media screen and (max-width:1200px){.conteneurChambre {width :80%;}
}

a .conteneurChambre {
	color : black;
}

.conteneurChambre a {
	
	color : black;
}

.conteneurChambre1 {
	width : 50%;
	float : left; 
}

.conteneurChambre2 {
	width : 49%;
	padding-left :0.8%;
	 float : left; 
}

.conteneurChambre2 img {
	width : 100%;
	height :13vw;
	border-radius : 4px;
}

@media screen and (min-width:580px) and (max-width:1000px){.conteneurChambre2 img {height :20vw;}
}

@media screen and (max-width:580px){.conteneurChambre2 img {height :30vw;}
}

.conteneurChambre3 {width : 100%; 
} 
.conteneurChambre4 {width : 100%;
}

.conteneurChambre5{
	background :#FEB7AB; 
	width : 30%; 
	padding:3.5%;
	margin : 0 auto;
	text-align : center;
	color : #662D23; 
	border : 2px solid #662D23 ; 
	border-radius :2px;  
}

.conteneurChambre5:hover{
	background : white;
}
/* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES */
/* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES *//* ACCUEIL CHAMBRES */


/* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES */
/* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES */

.conteneurGamme1 {
	width : 80%;
	border : 4px solid #FEB7AB;
	margin :0 auto;
	padding : 3%; 
	border-radius : 5px;
}

@media screen and (min-width:580px) and (max-width:1200px){.conteneurGamme1 {font-size:1.5vw} 
}

.conteneurGamme1  h3 {color : #662D23;
}

.conteneurGamme1 h4 {color : #934032;
}

.conteneurGamme3 ul{padding-left:10%;
}

#conteneur2Gamme{padding : 5% 0 5% 0;	
}


.conteneurGamme2{width : 100%;
}

@media screen and (max-width:1200px){
	.conteneurGamme3{
		width : 100%;
		float : left; 
	}
}

.conteneurGamme3{
	width : 30%;
	float : left; 
}

@media screen and (max-width:580px){
	.conteneurGamme3  {width:100%;}
}

.conteneurGamme4{
	width : 70%;
	float : left;
}

.conteneurGamme5 img {
	width : 70%;
	height : 15vw;
	border-radius : 3px;
	border : 2px solid #FEB7AB ;
}

@media screen and (min-width:580px) and (max-width:1000px){
	.conteneurGamme5 img {
		height : 25vw;
	}
}

.conteneurGamme5 {
	width :100%;
	padding :2.5% 0 0 0; 
	text-align :center;
}

@media screen and (max-width:1200px){
	.conteneurGamme5 {
		width :100%;
		padding :2.5% 0 0 0; 
		text-align :center;		
	}
}

@media screen and (max-width:580px){
	.conteneurGamme5 img {display:none;}
}

.conteneurGamme6{
	width : 100%;
	min-height : 3vw;
}

.conteneurGamme7{
	width : 100%;
	text-align : center;
}

.conteneurGamme7 a {
	border : 2px solid #662D23;
	padding : 2%; 
	color :#662D23;
	background : #FEB7AB;
	border-radius :2px;
}

.conteneurGamme7 a:hover{
	background : white;
}

/* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES */
/* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES *//* GAMME DE CHAMBRES */


/* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE */
/* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE */

#site {
	text-align : center;
	margin : 0 auto;
	width : 30%;
	font-size :1.8vh;
}

@media screen and (max-width:900px){#site {font-size:1.3vh;}
}

/* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE */
/* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE *//* PLAN DU SITE */

/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */
/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */

#matinale {
	text-align : center;
	padding-bottom:3% 
}

@media screen and (max-width:580px){#matinale {font-size : 2vh;}}

@media screen and (min-width:580px){#matinale {font-size : 1.2em;}}

#diner p{font-size : 1.2em;
}

#diner {text-align : center;	
}

/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */
/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */

@media screen and (max-width:850px){
	.restaurant0 {
		width : 80%;
		margin : 0 auto;
		border : none;
		padding : 5%;
	}
}

@media screen and (min-width:850px){
	.restaurant0 {
		width : 60%;
		margin : 0 auto;
		border : 8px solid #FEB7AB;
		padding : 5%;
		border-radius : 10px;
	}
}	

.restaurant1 {
	width : 100%;
	margin : 0 auto;
	font-size :1.4em;
}

@media screen and (max-width:580px){.restaurant1 {font-size :1em;}
}

.restaurant2 {
	float : left;
	margin : 0 auto;
	width : 33%;
	text-align : center;
	
}

.restaurant0 img {
	width : 100%;
	border : 4px solid #FEB7AB;
	border-radius : 10px;	
	}

.restaurant0 a {
	color :gray;
	text-decoration :underline
}	


@media screen and (min-width:580px){	
	#restaurant {
	 font-size :1.5vh; 
	padding-bottom : 3%;	
	}

}

@media screen and (min-width:580px) and (max-width:850px){.restaurant2{font-size :1.5vw;}	
}

@media screen and (max-width:580px){	
	#restaurant {
	font-size :1.5vh;	  
	}
	.restaurant2{
		font-size :1.5vw;
	}
}

#restaurant2  {color : #662D23;	
}

.separation{
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */
/* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT *//* MENU RESTAURANT */

/* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT */
/* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT */

#evenement h2{
	color:#934032;	
}
#evenement{
	text-align :center;
	font-size : 2vh;
}

#evenement iframe{
	width:55%;
	height:25vw;
}

/* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT */
/* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT *//* PAGE EVENEMENT */

/* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS */
/* QUI INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS */


@media screen and (max-width:850px){
	.info0 {
		width :90%;
		border : none;
		border-radius : 10px;
	}
}

@media screen and (min-width:850px){
	.info0 {
		width : 70%;
		border : 8px solid #FEB7AB;
		border-radius : 10px;
	}
}	

.info0{
	margin : 0 auto;
	padding : 5%;
}

.info2 h2{
	color:#934032;
	text-align : center;
}

.info1 {
	margin : 0 auto;
	width : 100%;
}

.info2 {
	width : 50%;
	float :left;
	
}

.info2 img {
	width : 98%;
	 height : 15vw; 
	border-radius : 10px;
	border : 2px solid #FEB7AB;
}

.info2 p {
	padding : 0 2% 0 2%;
}

@media screen and (max-width:580px){
	.info2 img {height : 45vw;}
}	

@media screen and (min-width:580px) and (max-width:800px){
	.info2 img {height : 30vw;}
}	

@media screen and (min-width:580px) and (max-width:800px){
		#info3 {
		 font-size :1em;
	}
}

@media screen and (max-width:580px){
		#info3 {
		 font-size :0.6em;
	}
}

@media screen and (max-width:330px){
		#info3 {
		 font-size :0.4em;
	}
}

@media screen and (min-width:800px){
	#info3 {
	 font-size :1em;
	}
}

@media screen and (max-width:1050px){
	#info4{border:none; width : 90%;}
}

/* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS */
/* QUI INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS *//* PAGE INFOS / QUI SOMMES NOUS */

/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */
/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */

#contact0 label {
	float:left;
	 min-width : 100px;  
}

#contact0 input {
	 padding : 1%; 
	  float : left;
	min-width:150px;
}

#contact0 select {
	 padding : 2px; 
	 min-width: 140px;
}

#contact0 textarea {
	 padding : 2px;
}

#contact {
	min-width : 180px;
	float : right;
	min-height :300px;
	width : 50%;
	height : 50%;
	border-radius:5px;
	border : 2px solid #FEB7AB;
}

@media screen and (max-width:1050px){
		#contact { display:none}
}

@media screen and (min-width:1050px){
	.contact0 {
		width : 70%;
		margin : 0 auto;
		border : 8px solid #FEB7AB;
		padding : 5%;
		border-radius : 10px;
	}
}
	
@media screen and (max-width:1050px){
	.contact0 {
		width : 80%;
		margin : 0 auto;
		border : none;
		padding : 5%;
		border-radius : none;
	}
}


.contact1 {
	 width : 60%; 
	margin : 0 auto;
	border-radius : 10px;
	 padding : 3%; 
}
@media screen and (max-width:1050px){
.contact1 {border :none}}

.envoyer{
	background:#FEB7AB;
	color: #662D23;
	border: 2px solid #662D23;
	border-radius:5px;
	margin-left:30%;
	font-size : 1.5em;
}

@media screen and (max-width:580px){
	.envoyer{font-size :1em;
		margin-left:20%;
}
}

.envoyer:hover{background:white;}

input[type="submit"]{
 cursor:pointer;
}

.validation{margin-left : 30%;}

@media screen and (max-width:580px){
	.validation{margin-left : 10%;}
}

/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */
/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */


/* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES */
/* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES */
#acces {
	font-size:1.5vh;
}
/* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES */
/* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES *//* ACCES */

/* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT */
/* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT */
#recrutement {
	padding-bottom : 10%;
}

@media screen and (min-width:1050px){
	.recrutement0 {
		width : 85%;
		margin : 0 auto;
		border : 8px solid #FEB7AB;
		padding : 5%;
		border-radius : 10px;
	}
}
	
@media screen and (max-width:1050px){
	.recrutement0 {
		width : 60%;
		margin : 0 auto;
		border : none;
		padding : 5%;
		border-radius : none;
	}
}

#recrutement0 label {
	float:left;
	 min-width : 100px;  
}

#recrutement0 input {
	 padding : 1%; 
	  float : left;
	 min-width:150px; 
}

#recrutement0 select {
	 padding : 2px; 
	 min-width: 140px;
}

#recrutement0 textarea {
	 padding : 2px;
}
/* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT */
/* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT *//* RECRUTEMENT */

/* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE */
/* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE */
#presse {
	/* height : 50%; */
}

#presse2 {
	/* height : 50%; */
	/* font-size:1.5vh; */
}

@media screen and (max-width:700px){
	#presse {border:none;width : 100%;font-size:1.5vh}
	}
/* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE */
/* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE *//* PRESSE */
	
/* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA */
/* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA */

@media screen and ( max-width:1200px){
#spa2{
	font-size:2.5vh;
}}

@media screen and ( max-width:650px){
#spa2{
	font-size:1.5vh;
}}

.conteneurSpa2 {
	width : 49%;
	padding-left :0.8%;
	 float : left; 
}

@media screen and ( max-width:650px){
.conteneurSpa2 img{
	height:25vw;
}}

.conteneurSpa2 img {
	width : 100%;
	/* height :30%; */
	border-radius : 4px;
}

/* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA */
/* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA *//* SPA */

/* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION */


#reservation label {
padding :1%	;
}

#reservation input {
	padding : 1% 1% 1% 1%;
}

#reservation select {
	padding : 1% 1% 1% 1%;

}

#reservation fieldset{
	padding : 2%;
} 

.reservation0 {
	width : 60%;
	margin : 0 auto;
	border : 8px solid #FEB7AB;
	padding : 5%;
	border-radius : 10px;
}

@media screen and ( max-width:800px){
	.reservation0 {
		width : 100%;
		margin : 0 auto;
		border : none;
		padding : 5%;
		border-radius : 10px;
	}
}

@media screen and ( max-width:800px){
	.reservation1 {
		width : 100%;
		margin : 0 auto;
		 font-size :1.2em; 
		 
	}	
}

@media screen and ( max-width:800px){
	.reservation1 fieldset{
		border:none;
		 
	}	
}

.reservation1 {
	width : 100%;
	margin : 0 auto;
	 font-size :1.2em; 
}	

.choix {
	margin-left : 5%;
}

/* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION *//* PAGE RESERVATION */

	
/* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 */
/* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 */

.avis2 {
	width : 60%;
	margin : 0 auto;
	border : 8px solid #FEB7AB;
	padding : 5%;
	border-radius : 10px;
}
@media screen and (max-width:1050px){
	.avis2 {border : none;}
}

@media screen and (max-width:1050px){
	#avis4 {display : none;}
}
#avis4 {	
	border : 4px solid #FEB7AB;
	border-radius : 10px;		
	width : 50%;
	float : right;
	height : 50%;	
}
	

.avis2 a {
	color :gray;
	text-decoration :underline
}	


.avis21 {
	width : 100%;
	margin : 0 auto;
	font-size :1.2em;
}


.avis21 input {
	width : 25%;
	min-width : 150px;
}

.avis21 label {
	width : 300px;
}


#avis22 input {
	padding : 1%;
	
}

#avis22 select {
	padding :  1%;
	
}

#avis22 textarea {
	padding :  1%;
	width : 40%;
	min-width : 200px;
}

#envoyerAvis {
	width : 10%;
}


#prixChambre {
	color :#934032;
}

/* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 */
/* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 *//* AVIS2 */

/* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS */
/* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS */
.avis a {
	color :gray;
	text-decoration :underline
}	

@media screen and (max-width:850px){
	.avis {
		width : 80%;
		margin : 0 auto;
		border : none;
		padding : 5%;
		border-radius : 10px;
	}
}

@media screen and (min-width:850px){
	.avis {
		width : 60%;
		margin : 0 auto;
		border : 8px solid #FEB7AB;
		padding : 5%;
		border-radius : 10px;
	}
}	

.etoile {
	width : 20px;
	height : 20px;
}

.avatar {
	width : 100%;
	height : 10%;
}

.avisConteneur {
	width : 25%;
	float :left;
	padding : 1%;
}

.avisConteneur3 {
	width : 65%;
	float : left;
	 padding :  1%; 
}

.avisConteneur4 {
	width : 65%;
	float : left;
	 padding :  1%; 
}

.field {
	width :80%;
	margin : 0 auto;
}

.pseudo {
	text-align : center;
	color : #662D23;
}

.rubrique {
	color :#934032 ;
}

.titreAvis{
	color : #662D23;
}

@media screen and (max-width:1200px){
	.field {width : 100%;}
}	

@media screen and (max-width:650px){
	.avisConteneur {width : 45%;}
	.avisConteneur3 {width : 45%;}
	.avisConteneur4 {width : 95%;}
	.avatar {min-height:100px;}
}	

@media screen and (max-width:350px){
	.avisConteneur3 {font-size : 0.75em;}
	.avisConteneur4 {font-size : 0.8em;}
	.etoile {width:15px;height:15px;}
}
/* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS */
/* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS *//* AVIS */


/* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier */
/* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier */
.imgPanier {
	width: 100%;
	height:10vw; 
}

table{
	border-collapse: collapse;
	margin: 0 auto; 
	width : 80%;
}

td, th{
	padding: 7px;
	border: 1px solid;
	text-align: center;
}

.delete{
	border:none;
}

@media screen and (max-width:580px){
	table{font-size : 0.5em;}
}

/* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier */
/* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier *//* Panier */
























